#Python
/.venv/
/__pycache__/
*.pyc

# Backups & System Files
/.git_backup/
.DS_Store

# cvr data (large JSON files exceed GitHub's 100 MB limit)
/data/raw/cvr_raw/
/data/processed/cvr/
/data/processed/temporal_join_cph.json

# csv files (large CSV files exceed GitHub's 100 MB limit)
/data/raw/GT_V2_data_cph.csv
/data/raw/GT_V3_data_.csv
